h1  {
    text-align: center;
    font-weight: 600;
    padding: 1.2em;
    font-size: 1.1em;
}

img{
    width: 128px;
}

main {
    max-width: 1400px;
    width: auto;
    padding: 2em;
    border-radius: .2em;
    margin: 0 auto;
}
