section {
    display: flex;
    align-items: flex-start;
}

section div {
    padding: 1em;
}

a {
    cursor: pointer;
}


ul li a h4 {
    position: relative;
    text-align: center;
}


ul li a h4::before {
    background-color: #FFF;
    padding: .125em;
    font-family: "Material Icons";
    font-size: 1.2em;
    transform: translate(-1.2em, -1.2em);
    display: block;
    position: absolute;
}


ul li {
    display: block;
    height: auto;
}

ul li a  {
    display: block;
    padding: .5em;
    margin-bottom: 1em;
    border: 3px solid;
    transition: .2s;
    font-size: 1.1em;
}
ul li a:hover {
    border-style: dashed;
    border-radius: .1em;
}
